<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodToQu"
        tools:targetApi="31">

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"/>


        <activity
            android:name=".FoodDetailActivityU"
            android:exported="false" />
        <activity
            android:name=".FoddDetailActivity5"
            android:exported="false" />
        <activity
            android:name=".FoodDetailActivity4"
            android:exported="false" />
        <activity
            android:name=".DiaryActivity4"
            android:exported="false" />
        <activity
            android:name=".DiaryListActivity3"
            android:exported="false" />
        <activity
            android:name=".User_search2"
            android:exported="false" />
        <activity
            android:name=".DiaryActivity"
            android:exported="false" />
        <activity
            android:name=".DiaryListActivity2"
            android:exported="false" />
        <activity
            android:name=".DiaryListActivity"
            android:exported="false" />
        <activity
            android:name=".FoodDiaryActivity"
            android:exported="false" />
        <activity
            android:name=".final23"
            android:exported="false" />
        <activity
            android:name=".FoodDetailActivity3"
            android:exported="false" />
        <activity
            android:name=".FoodDetailActivity2"
            android:exported="false" />
        <activity
            android:name=".LikedFoodsActivity"
            android:exported="false" />
        <activity
            android:name=".FoodDetailActivity"
            android:exported="false" />
        <activity
            android:name=".profileup2"
            android:exported="false" />
        <activity
            android:name=".prof2"
            android:exported="false" />
        <activity
            android:name=".RegAdmin"
            android:exported="false" />
        <activity
            android:name=".User_search"
            android:exported="false" />
        <activity
            android:name=".profileup"
            android:exported="false" />
        <activity
            android:name=".profs"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".UploadActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>